<div id="contenedor-quienes-somos" class="container-fluid">
  <div id="contenedor-historia" class="row animate__animated animate__slideInLeft">
    <h2 class="text-center">Nuestra Historia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Laudantium consequuntur delectus consequatur nostrum tenetur
      distinctio quidem hic praesentium. Doloremque inventore
      placeat quas consequuntur iure consequatur nobis nisi impedit,
      repudiandae eos! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Doloremque distinctio voluptates,
      quo error molestias, fuga sed necessitatibus optio et laborum
      rem? Vero alias explicabo ipsam placeat consequatur odit dicta accusantium.</p>
  </div>
  <div id="contenedor-mision" class="row animate__animated animate__slideInRight">
    <h2 class="text-center">Misión</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Laudantium consequuntur delectus consequatur nostrum tenetur
      distinctio quidem hic praesentium. Doloremque inventore
      placeat quas consequuntur iure consequatur nobis nisi impedit,
      repudiandae eos! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Doloremque distinctio voluptates,
      quo error molestias, fuga sed necessitatibus optio et laborum
      rem? Vero alias explicabo ipsam placeat consequatur odit dicta accusantium.</p>
  </div>
  <div id="contenedor-vision" class="row animate__animated animate__slideInLeft">
    <h2 class="text-center">Visión</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Laudantium consequuntur delectus consequatur nostrum tenetur
      distinctio quidem hic praesentium. Doloremque inventore
      placeat quas consequuntur iure consequatur nobis nisi impedit,
      repudiandae eos! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Doloremque distinctio voluptates,
      quo error molestias, fuga sed necessitatibus optio et laborum
      rem? Vero alias explicabo ipsam placeat consequatur odit dicta accusantium.</p>
  </div>
</div>
