<div class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <app-historia></app-historia>
    </div>

  </div>
  <div class="row">
    <div class="container-fluid">
      <app-mision></app-mision>
    </div>

  </div>
  <div class="row">
    <div class="container-fluid">
      <app-vision></app-vision>
    </div>
    
  </div>
  <div class="row">
    <div id="contenedor-politica-de-calidad" data-aos="fade-up">
      <div class="container">
        <h2 class="text-center">Política de Calidad</h2>
      <p>En MONTAJES JIG S.A.S trabajamos para brindar un excelente servicio
      de mantenimiento mecánico industrial y montajes de estructuras metálicas.
      Contamos con un talento humano competente y proveedores calificados
      que contribuyen al mejoramiento continuo de todos los procesos, con el fin
      de entregar un producto o servicio a satisfacción del cliente.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="contenedor-objetivos-de-calidad" data-aos="fade-up">
      <div class="container">
        <h2 class="text-center">Objetivos de Calidad</h2>
      <p>
        1) Brindar un excelente servicio de mantenimiento mecánico industrial y montajes de estructuras metálicas.
      </p>
      <p>
        2) Contar con talento humano competente.
      </p>
      <p>
        3) Contar con proveedores calificados.
      </p>
      <p>
        4) Garantizar el mejoramiento continuo de todos los procesos.
      </p>
      <p>
        5) Garantiza la satisfacción del cliente.
      </p>
      </div>
    </div>
  </div>
</div>
