<div class="container-fluid">
  <div class="row">
    <div id="contenedor-historia" class="animate__animated animate__fadeInLeft">
      <div id="contenedor-img-historia">
        <img
        src="https://st2.depositphotos.com/2848649/6154/i/450/depositphotos_61544545-stock-photo-family-having-fun-outdoors-in.jpg"
        alt="familia-montajes-jig">
      </div>
      <div class="container">
        <h2 class="text-center">Nuestra Historia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Laudantium consequuntur delectus consequatur nostrum tenetur
        distinctio quidem hic praesentium. Doloremque inventore
        placeat quas consequuntur iure consequatur nobis nisi impedit,
        repudiandae eos! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Doloremque distinctio voluptates,
        quo error molestias, fuga sed necessitatibus optio et laborum
        rem? Vero alias explicabo ipsam placeat consequatur odit dicta accusantium.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="contenedor-mision" class="animate__animated animate__fadeInRight">
      <div class="container">
        <h2 class="text-center">Misión</h2>
      <p>Somos una empresa matalmecánica que presta servicios de montajes
      industriales, mantenimiento, asesorías para el mejoramiento de procesos y
      líneade equipos en acero inoxidable. Nuestro propósito es dar soluciones
      funcionales a las empresas del sector industrial.
      Trabajamos con personal técnico y profecional califcado, generando confianza,
      credibilidad y cumplimiento.
      Conservamos relaciones optimas con nuestros proveedores y clientes, buscamos una mayor
      estabilidad para nuestra empresa, de esta manera generamos bienestar para nuestros colaboradores</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="contenedor-vision" class="animate__animated animate__fadeInLeft">
      <div class="container">
        <h2 class="text-center">Visión</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Laudantium consequuntur delectus consequatur nostrum tenetur
      distinctio quidem hic praesentium. Doloremque inventore
      placeat quas consequuntur iure consequatur nobis nisi impedit,
      repudiandae eos! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Doloremque distinctio voluptates,
      quo error molestias, fuga sed necessitatibus optio et laborum
      rem? Vero alias explicabo ipsam placeat consequatur odit dicta accusantium.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="contenedor-politica-de-calidad" data-aos="fade-up">
      <div class="container">
        <h2 class="text-center">Política de Calidad</h2>
      <p>En MONTAJES JIG S.A.S trabajamos para brindar un excelente servicio
      de mantenimiento mecánico industrial y montajes de estructuras metálicas.
      Contamos con un talento humano competente y proveedores calificados
      que contribuyen al mejoramiento continuo de todos los procesos, con el fin
      de entregar un producto o servicio a satisfacción del cliente.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="contenedor-objetivos-de-calidad" data-aos="fade-up">
      <div class="container">
        <h2 class="text-center">Objetivos de Calidad</h2>
      <p>
        1) Brindar un excelente servicio de mantenimiento mecánico industrial y montajes de estructuras metálicas.
      </p>
      <p>
        2) Contar con talento humano competente.
      </p>
      <p>
        3) Contar con proveedores calificados.
      </p>
      <p>
        4) Garantizar el mejoramiento continuo de todos los procesos.
      </p>
      <p>
        5) Garantiza la satisfacción del cliente.
      </p>
      </div>
    </div>
  </div>
</div>
