<div class="container-fluid" style="padding: 0 !important;">
  <app-saludo></app-saludo>
  <app-servicios></app-servicios>
  <app-clientes></app-clientes>
  <div id="contenedor-proveedores" class="container-fluid">
    <div class="row">
      <h2 id="titulo-proveedores" class="text-center">Nuestros Clientes</h2>
    </div>
    <div class="row">
      <div class="col-12 contenedor-logo-proveedor" data-aos="zoom-in">
        <img
        src="../../../assets/imgs/agofer.png"
        alt="logo-agofer" />
      </div>
      <div class="col-12 contenedor-logo-proveedor" data-aos="zoom-in">
        <img
        src="../../../assets/imgs/sumivalle.jpg"
        alt="logo-sumivalle" />
      </div>
      <div class="col-12 contenedor-logo-proveedor" data-aos="zoom-in">
        <img
        src="../../../assets/imgs/G&J.png"
        alt="logo-g&j" />
      </div>
      <div class="col-12 contenedor-logo-proveedor" data-aos="zoom-in">
        <img
        src="../../../assets/imgs/imporinox.png"
        alt="logo-imporinox" />
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <h2 id="titulo-nuestras-certificaciones" class="text-center">Nuestras Certificaciones</h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div id="contenedor-certificado-1" class="container"><img src="../../../assets/imgs/Certificacion-Montajes-JIG-1.png" alt="certificación 1"></div>
      </div>
      <div class="col-12 col-md-6">
        <div id="contenedor-certificado-2" class="container"><img src="../../../assets/imgs/Certificacion-Montajes-JIG-2.jpg" alt="certificación 2"></div>
      </div>
    </div>
  </div>
</div>
